#heading{
    font-family: 'PT Sans Narrow', sans-serif;
   color:red;
}

.test_image_and_result {
    background-color:lightslategray;
    border-radius:5px;
    text-align:center;
    box-shadow: 10px 5px 20px grey;
    width:1200px;
    height:auto;
    margin-top:100px;
    padding: -15px;
}

li{
    font-weight:bold;
    font-size:large;
}

h5{
    background-color:white;
    border-radius:20px;
}